/* FONTS */
@import url('../css/clash-display.css');

/* VARIABLES */
:root {
    --c-dark: #212529;
    --c-brand: #4e57d4;
    --c-brand-light: #6970dd;
    --c-brand-rgb: 78, 87, 212;
    --c-body: #727272;
    --font-base: "ClashDisplay", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease;
}

/* RESET & HELPERS */
body {
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
}

h1, h2, h3,h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    color: var(--c-dark);
}

a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand-light);
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

.theme-shadow {
    box-shadow: var(--box-shadow);
}

/* IMAGE ZOOM */
.image-zoom {
    position: relative;
    /* overflow: hidden; */
}

.image-zoom-wrapper {
    overflow: hidden;
    position: relative;
}

.image-zoom-wrapper img{
     transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
    transform: scale(1.1);
}

.rectangle-barr {
    background-color: #4e57d4; /* Adjust background color as needed */
    color: #fff; /* Text color */
    text-align: center;
    padding: 15px 0; /* Adjust padding as needed */
}

.rectangle-barr p {
    margin: 0;
    font-size: 18px; /* Adjust font size as needed */
}
/* NAVBAR */
.navbar {
    box-shadow: var(--box-shadow);
}

.navbar-brand img {
    width: 60px; /* Adjust the width to your preference */
    height: auto; /* Maintain aspect ratio */
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: var(--c-dark);
}

.navbar-nav .nav-link.active {
    color: var(--c-brand);
}




/* BTN */
.btn {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 24px;
}

.btn-brand {
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    color: white;
}

.btn-brand:hover {
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: white;
}


/* HERO */
/* HERO */
#hero {
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.507), rgba(var(--c-brand-rgb), 0.438)), url('../images/Ok Run BG New 03 - Copy.png');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    height: 100vh; /* Adjust the height as needed */
}

.hero-content {
    text-align: center; /* Align text to the center */
    color: #fff; /* Change text color to white */
}

.hero-title {
    margin-bottom: 20px; /* Add margin to the bottom of the title */
}

.hero-buttons {
    margin-top: 20px; /* Add margin to the top of the buttons */
}



/* SECTION TITLE */
.section-title {
    margin-bottom: 60px;
}



.section-title .line {
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}






/* ICONBOX */


/* SERVICE */
.service {
    position: relative;
    overflow: hidden;
    z-index: 2;
    background: url(''); /* Add the path to your background image */
    background-size: cover; /* or 'contain' based on your preference */
}

.service::after {
    content: "";
    width: 40px;
    height: 40px;
    background: rgba(var(--c-brand-rgb), 0.2);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}

.service:hover::after {
    width: 100%;
    height: 100%;
    background: var(--c-brand);
    z-index: -1;
}

.service:hover h5,
.service:hover p {
    color: white;
}

.service:hover .iconbox {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}


/* COUNTER */
#counter {
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.8), rgba(var(--c-brand-rgb), 0.8)), url('../images/counter.jpg');
    background-position: center;
    background-size: cover;
}


/* TEAM */
.team-member-content {
    background-color: var(--c-brand);
    position: absolute;
    bottom: -24px;
    left: 50%;
    width: calc(100% - 50px);
    transform: translateX(-50%);
    padding: 24px;
    transition: var(--transition);
    opacity: 0;
}

.team-member:hover .team-member-content {
    opacity: 1;
    bottom: 24px;
}

/* CONTACT */
#contact {
    position: relative;
    z-index: 2;
}

#contact::after {
    content: "";
    width: 100%;
    height: 70%;
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.8), rgba(var(--c-brand-rgb), 0.8)), url('../images/counter.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#contact .form-control {
    border-radius: 0;
}

#contact .form-control:focus {
    box-shadow: none;
    border-color: var(--c-brand);
}

/* FOOTER */
footer {
    padding-top: 120px;
}

.footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.footer-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
}


footer li,
footer p,
footer a {
    color: rgba(255,255,255,0.7);
}

footer ul {
    list-style: none;
    padding: 0;
}

footer .line {
    width: 40px;
    height: 4px;
    background-color: var(--c-brand);
    margin-top: 12px;
    margin-bottom: 24px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.1);
    border-radius: 100px;
}

.social-icons a:hover {
    background-color: var(--c-brand);
    color: white;
}

.rectangle-bar {
    background-color: #4e57d4; /* Adjust background color as needed */
    color: #fff; /* Text color */
    text-align: center;
    padding: 10px 0; /* Adjust padding as needed */
}

.rectangle-bar p {
    margin: 20;
    font-size: 18px; /* Adjust font size as needed */
}

.rectangle-barr {
    position: relative;
    background-color: #8636ab;
    padding: 0px;
    border: 1px solid #8636ab;
    border-radius: 0px;
    color: #fff;
}

.rectangle-barr p {
    text-align: left;
    margin: 10px 10px; /* Corrected the margin with units */
}


.buttonone {
    display: inline-block;
    padding: 30px 20px; /* Adjust padding for height and width */
    background-color: purple;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 32px;
    line-height: 1; /* Ensure line-height doesn't affect the size */
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    right: 25px;
}

.buttonone:hover {
    background-color: #5a1a8e;
}



.rectangle-barrr {
    position: relative;
    background-color: #8636ab;
    padding: 0px;
    border: 1px solid #8636ab;
    border-radius: 5px; /* Add border-radius for rounded corners */
    color: #fff;
}

.rectangle-barrr p {
    text-align: center;
    margin: 20px 0; /* Adjust the vertical margin as needed */
    font-size: 20px;
}

  #welcome-section {
    background-color: #f8f9fa; /* Light gray background color */
    padding: 50px 0; /* Adjust padding as needed */
}

#welcome-section h2 {
    font-size: 32px;
    font-weight: bold;
    color: #333; /* Dark text color */
    margin-bottom: 20px;
}

#welcome-section p {
    font-size: 18px;
    line-height: 1.6;
    color: #555; /* Slightly darker text color */
    margin-bottom: 15px;
}

#welcome-section p:last-child {
    margin-bottom: 0; /* Remove bottom margin from last paragraph */
}


/* Style for the event details section */
#event-details-section {
    background-color: #f8f9fa; /* Light gray background color */
    padding: 50px 0;
    color: black;
}

/* Style for the event details text */
#event-details-section h2 {
    color: #007bff; /* Blue color for headings */
    font-size: 36px;
    margin-bottom: 20px;
}

/* Style for the event details paragraphs */
#event-details-section p {
    font-size: 18px;
    margin-bottom: 15px;
}

/* Style for the registration button */
#event-details-section .btn-primary {
    background-color: #007bff; /* Blue color for the button */
    color: white; /* White text color */
    border: none;
    border-radius: 25px; /* Rounded button */
    padding: 12px 24px;
    font-size: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

/* Hover style for the registration button */
#event-details-section .btn-primary:hover {
    background-color: #0056b3; /* Darker blue on hover */
}


/* Registration and Sponsorship Section */
#registration-sponsorship-section {
    padding: 50px 0;
    background-color: #f8f9fa;
}

/* Trophy Announcement Section */
#trophy-announcement-section {
    padding: 50px 0;
}

/* How to Join Section */
#how-to-join-section {
    padding: 50px 0;
    background-color: #f8f9fa;
}

/* Special Announcements Section */
#special-announcements-section {
    padding: 50px 0;
}

/* Call to Action for Hosting an Event Section */
#cta-host-event-section {
    padding: 50px 0;
    background-color: #f8f9fa;
}

/* Additional Information Section */
#additional-info-section {
    padding: 50px 0;
}


#registration-sponsorship-section {
    background-color: #f9f9f9;
    padding: 50px 0;
}

#registration-sponsorship-section h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

#registration-sponsorship-section h3 {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 15px;
}

#registration-sponsorship-section h4 {
    font-size: 20px;
    color: #444;
    margin-bottom: 10px;
}

#registration-sponsorship-section ul {
    margin-bottom: 20px;
}

#registration-sponsorship-section ul li {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

#registration-sponsorship-section ul li:last-child {
    margin-bottom: 0;
}


#trophy-announcement-section {
    background-color: #f9f9f9;
    padding: 50px 0;
}

#trophy-announcement-section h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

#trophy-announcement-section h3 {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 30px;
}

.trophy-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trophy-item {
    flex-basis: calc(33.33% - 20px);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.trophy-item h4 {
    font-size: 20px;
    color: #444;
    margin-bottom: 10px;
}

.trophy-item p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}


.section {
    padding-top: 100px; /* Adjust as needed to offset fixed navbar */
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

.buttons .btn {
    margin: 0 10px;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.buttons .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.buttons .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
}

.buttons .btn-primary:hover {
    background-color: #0056b3;
}

.buttons .btn-success {
    background-color: #28a745;
    color: #fff;
    border: none;
}

.buttons .btn-success:hover {
    background-color: #218838;
}

/* Define a class for the body specific to the johnstown2024.html page */
.body-johnstown2024 {
    background-color: teal; /* Set the background color to teal */
    color: white; /* Set text color to white for better visibility */
}
/* Registration Form Styles */

.registration-container {
    background-color: #fff; /* Background color of the container */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding inside the container */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Box shadow for a 3D effect */
    text-align: left; /* Center the content */
    margin: 0 auto; /* Center the container horizontally */
}

.registration-container h1,h2{
    color: #212529;
    text-align: center;
}
.registration-container p,
.registration-container label,
.registration-container  {
    color: black; /* Change font color to black */
    text-align: left;
}

.center-button {
    display: flex;
    justify-content: center;
}

/* CSS to change the button color to purple */
.purple-button {
    background-color: purple;
    color: white;
}


.image-container {
    text-align: center; /* Center the image */
    margin-bottom: 20px; /* Add some space between the image and the form */
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
#disclaimer {
    display: none;
    color: #ff5252; /* Red color for emphasis */
    font-size: 14px;
    font-style: italic;
    margin-top: 5px;
}

#under_18:focus + #disclaimer,
#under_18:valid + #disclaimer {
    display: block;
}

.containerone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    text-align: center;
}

.containerone a.btn-primary {
    display: inline-block;
    background-color: #007bff;
    color: whitesmoke;
    border: 2px solid #0056b3;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.containerone a.btn-primary:hover {
    background-color: #0056b3;
    color: whitesmoke;
}

.containerone h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Set a background color */
}

#collection-component-1708378939143 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust the height as needed */
}

main {
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.featured-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-description {
    text-align: center;
    color: #333;
    font-size: 18px;
    margin-bottom: 20px;
}