{% extends 'base.html' %}
{% block content %}

{% include 'navbar.html' %}

<div class="container my-3">
    <a href="{% url 'generate_csv' %}" class="btn btn-primary">Download CSV</a>
    <div class="card text-bg-primary" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">User Total: {{ participants_count }}</h5>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Date Registered</th>
            <th scope="col">Team Name</th>
            <th scope="col">Fundraising Goal</th>
            <th scope="col"><a href="?sort_by=team_option">Team Option</a></th>
            <th scope="col">Action</th>
            
        </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
        {% if not participant.is_superuser %}
        <tr>
            <td>{{ participant.name }}</td>
            <td>{{ participant.email }}</td>
            <td>{{ participant.created }}</td>
            <td>{{ participant.team_name }}</td>
            
            <td>{{ participant.fundraising_goal }}</td>
            <td>{{ participant.team_option }}</td> 
            
            
            <td>
                <a href="{% url 'fetch_user_details' participant.id %}" class="btn btn-sm btn-primary">Edit</a>
                <a href="{% url 'delete_user' participant.id %}" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>


    <div class="card text-bg-primary" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Volunteer Total: {{ volunteers_count }}</h5>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for volunteer in volunteers %}
        <tr>
            <td>{{ volunteer.full_name }}</td>
            <td>{{ volunteer.email }}</td>
            <td>{{ volunteer.role }}</td>
            <td>
                <a href="{% url 'fetch_volunteer_details' volunteer.id %}" class="btn btn-sm btn-primary">Edit</a>
                <a href="{% url 'delete_volunteer' volunteer.id %}" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% include 'footer.html' %}
{% endblock %}
