{% extends 'base.html' %}
{% block content %}

{% include 'navbar.html' %}

<style>
    .dashboard-content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header Styles */
.dashboard-content h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Content Styles */
.dashboard-content p {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.dashboard-content ul {
    list-style-type: none;
    padding: 0;
}

.dashboard-content li {
    margin-bottom: 10px;
}

.dashboard-content strong {
    font-weight: bold;
}












</style>

<div class="dashboard-content">
    <!-- Button trigger modal -->
    <div class="d-flex justify-content-end gap-2 mb-2">
        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#editProfile">
            Edit Profile
        </button>
        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#accountSettings">
            Change Account Settings
        </button>
    </div>

    <!-- Modal for Edit Profile -->
    <div class="modal fade" id="editProfile" tabindex="-1" aria-labelledby="editProfileLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editProfileLabel">Edit Profile</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form method="post" action="{% url 'update_user' %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" name="name" value="{{ request.user.name }}"
                                   id="name"
                                   placeholder="Enter your name">
                        </div>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" name="username" value="{{ request.user.username }}"
                                   id="username"
                                   placeholder="Enter your username">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" name="email" value="{{ request.user.email }}"
                                   id="email"
                                   placeholder="Enter your email">
                        </div>
                        <div class="mb-3">
                            <label for="fundraising_goal" class="form-label">Fundraising Goal</label>
                            <input type="number" class="form-control" name="fundraising_goal"
                                   value="{{ request.user.fundraising_goal }}" id="fundraising_goal"
                                   placeholder="Enter your fundraising goal">
                        </div>
                        {% if request.user.is_team_captain %}
                        <div class="mb-3">
                            <label for="team_name" class="form-label">Team Name</label>
                            <input type="text" class="form-control" name="team_name"
                                   value="{{ request.user.team_name }}"
                                   id="team_name" placeholder="Enter your team name">
                        </div>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal for Account Settings -->
    <div class="modal fade" id="accountSettings" tabindex="-1" aria-labelledby="accountSettingsLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="accountSettingsLabel">Edit Account Settings</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form method="post" action="{% url 'update_account_settings' %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" name="username" value="{{ request.user.username }}"
                                   id="change_username" placeholder="Enter your username">
                        </div>
                        <p class="text-center fw-bold fst-italic">Change password</p>
                        <div class="mb-3">
                            <label for="new_password" class="form-label">New Password</label>
                            <input type="password" class="form-control" name="new_password" id="new_password"
                                   placeholder="Enter your new password">
                        </div>
                        <div class="mb-3">
                            <label for="confirm_password" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" name="confirm_password" id="confirm_password"
                                   placeholder="Confirm your new password">
                        </div>
                        {% if request.user.team_option == "participate_solo" %}
                        <div class="mb-3">
                            <p>Would you like to join or start a team, or continue participating solo?</p>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="team_option" id="participate_solo"
                                       value="participate_solo" checked>
                                <label class="form-check-label" for="participate_solo">Participate Solo</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="team_option" id="join_team"
                                       value="join_team">
                                <label class="form-check-label" for="join_team">Join a team</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="team_option" id="start_team"
                                       value="start_team">
                                <label class="form-check-label" for="start_team">Start a team</label>
                            </div>

                            <!-- Input field for team name for joining or starting a team -->
                            <div class="mb-3" id="team_name_field" style="display: none;">
                                <label for="team_name" class="form-label">Team Name</label>
                                <input type="text" class="form-control" name="team_name" id="team_name"
                                       placeholder="Enter team name">
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <h1>Hi {{ request.user.name }}.</h1>

    {% if request.user.team_name %}
    <h2>Your Team is {{ request.user.team_name }}!</h2>
    {% if request.user.is_team_captain %}
    <p>You are the captain of your team.</p>
    {% else %}
    <p>You are a member of this team.</p>
    {% endif %}
    {% else %}
    <h2>You are participating solo.</h2>
    {% endif %}

    <p>Your Basic Information:</p>
    <ul>
        <li><strong>Name:</strong> {{ request.user.name }}</li>
        <li><strong>Username:</strong> {{ request.user.username }}</li>
        <li><strong>Email:</strong> {{ request.user.email }}</li>
        {% if request.user.fundraising_goal %}
        <li><strong>Fundraising Goal:</strong> ${{ request.user.fundraising_goal }}</li>
        {% else %}
        <li><strong>Fundraising Goal:</strong> Not set</li>
        {% endif %}
        <br>
    </ul>
    <h2>Members</h2> <br>
    {% if team_members %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for member in team_members %}
            <tr>
                <td>{{ member.name }}</td>
                <td>{{ member.email }}</td>
                <td>
                    <a href="{% url 'fetch_user_details' member.id %}" class="btn btn-sm btn-primary">Edit</a>
                    <a href="{% url 'delete_user' member.id %}" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No team members found, or you are not the team captain.</p>
{% endif %}


</div>

{% include 'footer.html' %}

<script>
document.addEventListener('DOMContentLoaded', function() {
    // Toggle team name input based on team option selection
    document.querySelectorAll('input[name="team_option"]').forEach(radio => {
        radio.addEventListener('change', function() {
            const teamNameField = document.getElementById('team_name_field');
            if (this.value === 'join_team' || this.value === 'start_team') {
                teamNameField.style.display = 'block';
            } else if (this.value === 'participate_solo') {
                teamNameField.style.display = 'none';
            }
        });
    });
});


</script>
{% endblock %}
