{% extends 'base.html' %}
{% block content %}

{% include 'navbar.html' %}

<style>
    .dashboard-content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header Styles */
.dashboard-content h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Content Styles */
.dashboard-content p {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.dashboard-content ul {
    list-style-type: none;
    padding: 0;
}

.dashboard-content li {
    margin-bottom: 10px;
}

.dashboard-content strong {
    font-weight: bold;
}
</style>

<div class="dashboard-content">
    <h1>Hi {{ request.user.name }}. Your Team is {{ request.user.team_name }}!</h1>
    <p>Your Basic Information:</p>
    <ul>
        <li><strong>Name:</strong> {{ request.user.name }}</li>
        <li><strong>Username:</strong> {{ request.user.username }}</li>
        <li><strong>Fundraising Goal:</strong> ${{ request.user.fundraising_goal }}</li>
        <!-- Add more information as needed -->
    </ul>
</div>

{% include 'footer.html' %}
{% endblock %}
