{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-G8T5gXUyvS4yW0gic5IpMjsl59aKrZ0/67Nwaa/+U8PzRUXAh4zO8K0ZhQk1SZZ7+vgwJlZPLbq1B0qKumf44g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="rectangle-bar">
    <p>Call or text 988 National Suicide Prevention for free and confidential support 24/7</p>
</div>
<footer class="bg-dark">
    <div class="footer-top">
        <div class="container">
            <div class="row gy-5">
                <div class="col-lg-3 col-sm-6">
                    <a href="#">
                        <img src="{% static 'images/Ok-Run-New-Logo_white2.png' %}" alt="" class="img-fluid"
                             style="max-width: 100px;">
                    </a>
                    <div class="line"></div>
                    <p>We overcome through love, care, and compassion. We garner strength through shared experiences to
                        build stronger communities - TOGETHER! </p>
                    <p style="font-family: 'Inconsolata', monospace;"> "It's going to be 0K!" </p>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/0KFinishLine"><i class="ri-facebook-fill"></i></a>
                        <a href="#"><i class="ri-instagram-fill"></i></a>
                        
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <h5 class="mb-0 text-white">ABOUT US</h5>
                    <div class="line"></div>
                    <ul>
                        <li><a href="{% url 'volunteer' %}">Become a Volunteer</a></li>
                        <li><a href="{% url 'eventinyourcity' %}">Be a Host City</a></li>
                        <li><a href="{% url 'fundraise' %}">Fundraise</a></li>
                        <li><a href="https://square.link/u/5g6XQwWE?src=embed">Donate</a></li>
                        <li><a href="{% url 'registration' %}">Register</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h5 class="mb-0 text-white" style="font-size: 20px;">CONTACT</h5>
                    <div class="line"></div>
                    <ul>
                        <li style="font-size: 20px;"><i class="fas fa-map-marker-alt"></i> Johnstown, OH</li>
                        <li style="font-family: 'Inconsolata', monospace; font-size: 20px;"><i class="far fa-envelope"></i> hello@0kfoundation.org</li>
                        <li style="font-family: 'Inconsolata', monospace; font-size: 20px;"><i class="fas fa-globe"></i> 0kfoundation.org</li>
                    </ul>
                </div>
                

                
                
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row g-4 justify-content-between">
                <div class="col-auto">
                    <p class="mb-0">© Copyright The PatchWork™. All Rights Reserved</p>
                </div>
                <div class="col-auto">
                    <p class="mb-0">Powered by: <a
                            href="https://i-patchwork.com/">The PatchWork™</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>