{% extends 'base.html' %}
{% block content %}
{% load static %}

<!----------------------- Main Container -------------------------->

<div class="container d-flex justify-content-center align-items-center min-vh-100">

    <!----------------------- Login Container -------------------------->

    <div class="row gy-sm-4 gy-md-0 border rounded-5 p-3 bg-white shadow box-area">

        <!--------------------------- Left Box ----------------------------->

        <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box"
             style="background: purple;">
            <div class="featured-image mb-3">
                <img src="{% static 'images/registration.png' %}" class="img-fluid" style="width: 450px;">
            </div>
            <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">Let's
                Make a Difference!
            </p>
            <small class="text-white text-wrap text-center"
                   style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Together We Can Be a
                Lifesaver</small>
        </div>

        <!-------------------- ------ Right Box ---------------------------->

        <div class="col-md-6 right-box">
            <div class="row align-items-center">
                <div class="header-text mb-2">
                    <h2>Reset Password</h2>
                    <p>Enter your email address below, we will email instructions for setting your new password.</p>
                </div>

                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" class="btn btn-primary" name="Send email">
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}
