{% extends 'base.html' %}
{% block content %}
{% load static %}
{% include 'navbar.html' %}

<style>
/* Styling the welcome section */
#welcome-section {
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.507), rgba(var(--c-brand-rgb), 0.438)), url('static/images/johsntownbackg.png');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    min-height: 100vh; /* Adjust the height as needed */
    padding: 0 20px; /* Add padding to prevent content from sticking to the edges */
}

/* Styling for the text content */
#welcome-section .container {
    position: relative; /* Ensure content stays above the background */
    display: flex;
    flex-direction: column; /* Stack columns vertically */
    justify-content: center; /* Vertically center the content */
    max-width: 70%; /* Limit container width to 70% of its parent */
    margin-left: 50px; /* Push content to the left */
}

/* Adjusting the text alignment */
#welcome-section .col-md-6 {
    text-align: right; /* Align text to the left */
}

/* Other styles for headings and paragraphs if needed */
#welcome-section h2 {
    font-size: 32px;
    font-weight: bold;
    color: whitesmoke; /* Dark text color */
    margin-bottom: 20px;
    text-align: left; /* Align heading text to the left */
    max-width: 100%;
}

#welcome-section p {
    font-size: 18px;
    line-height: 1.6;
    color: whitesmoke; /* Slightly darker text color */
    margin-bottom: 15px;
    text-align: left; /* Align paragraph text to the left */
    max-width: 100%;
}

@media (max-width: 768px) {
    #welcome-section .col-md-6 {
        text-align: center; /* Align text to the center on smaller screens */
    }
}

</style>

<body class="body-johnstown2024">
<div class="rectangle-barrr">
    <p>Johnstown 2024</p>
</div>

<section id="welcome-section" class="min-vh-100 d-flex align-items-center text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Welcome to the inaugural event</h2>
                <h2 style="font-family: 'Inconsolata', monospace;">0K: The Finish Line Moves in Johnstown this 2024</h2>
                <p>Join us in the fight against suicide! Together, we're beacons of hope, shining brightly in our shared journey towards prevention. You're not alone in this struggle; together, we can be Life-Savers, extending our hands to those in need and offering support in times of darkness.</p>
                <p>Let's create ripples of change together, starting with this moment. Your participation, whether as a team member, sponsor, or advocate, is vital in building a community of understanding and action. Together, we can ignite a movement that reaches far beyond this day, spreading love and healing to countless lives.</p>
            </div>
        </div>
    </div>
</section>


<!-- Event Details Section -->
<section id="event-details-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'images/map.png' %}" alt="Event Image">
            </div>
            <div class="col-md-6">
                <h2>Event Information</h2>
                <p><strong>Date and Time:</strong> May 18, 2024, from 9 AM to Noon</p>
                <p><strong>Location:</strong> North Athletic Fields by the American Legion, Wall of Honor
                    Maple and Oregon Streets
                    Johnstown, Ohio</p>
                    
                <a href="{% url 'registration' %}" class="btn btn-primary">Register Now</a>
            </div>
        </div>
    </div>
</section>


<section id="registration-sponsorship-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Register as a Participant or Become a Sponsor</h2>
                <h1>Individual Participant: FREE Community Event!</h1>
                <a href="{% url 'registration' %}" class="btn btn-primary">Register Now</a>

                <h3>Sponsors (Bronze, Silver, Gold)</h3>
                
                <h4>Bronze Sponsorship - “Community Supporter”</h4>
                <ul>
                    <li>Price: $5,000</li>
                    <li>Includes: Your name or logo will be prominently featured on our event website and on the
                        official event t-shirts. You will also be honored with a prestigious certificate of appreciation
                        to acknowledge your significant contribution to our cause.
                    </li>
                    <li>Please submit your t-shirt size by April 15 to ensure a perfect fit.</li>
                </ul>
                <h4>Silver Sponsorship - “Hope Advocate”</h4>
                <ul>
                    <li>Price: $10,000</li>
                    <li>Includes: As a Silver sponsor, your name or logo will be displayed on our event website and on
                        the event t-shirts, recognizing your valuable support. A certificate of appreciation will also
                        be provided to celebrate your commitment.
                    </li>
                    <li>T-shirt size submissions are due by April 15.</li>
                </ul>
                <h4>Gold Sponsorship - “Lifesaver Leader”</h4>
                <ul>
                    <li>Price: $15,000</li>
                    <li>Includes: All Silver benefits plus premier visibility across all event materials, feature in
                        press releases, and promotional materials.
                    </li>
                </ul>
                <h4>Platinum - “Empathy Ambassador”</h4>
                <ul>
                    <li>Price: $20,000</li>
                    <li>Includes: Your name or logo will be prominently featured on our event website and on the
                        official event t-shirts. You will also be honored with a prestigious certificate of appreciation
                        to acknowledge your significant contribution to our cause.
                    </li>
                    <li>Please submit your t-shirt size by April 15 to ensure a perfect fit.</li>
                </ul>
                <h4>Titanium - “Community Champion”</h4>
                <ul>
                    <li>Price: $25,000</li>
                    <li>Includes: Your name or logo will be prominently featured on our event website and on the
                        official event t-shirts. You will also be honored with a prestigious certificate of appreciation
                        to acknowledge your significant contribution to our cause.
                    </li>
                    <li>Please submit your t-shirt size by April 15 to ensure a perfect fit.</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="trophy-cards-container">
    <div class="trophy-container">
        <h1 class="trophy-header">Trophy Announcement</h1>
        <h2 class="trophy-subheader">The participant, team, and sponsor raising the most money will be awarded a trophy!</h2>
        <!-- Sponsorship Team -->
        <div class="trophy-card">
            <div class="trophy-content">
                <p class="trophy-logo">Sponsorship ROCKStars</p>
                <div class="trophy-description">Recognizing the team and participants that secures the highest number of sponsorships from area businesses</div>
                <div class="trophy-hover-content">
                    <p>Showcasing their exceptional outreach and networking abilities.</p>
                </div>
            </div>
        </div>
        <!-- Other cards -->
        <!-- Participant Pioneers -->
        <div class="trophy-card">
            <div class="trophy-content">
                <p class="trophy-logo">Participant Pioneers</p>
                <div class="trophy-description">Celebrating the particpants with the highest number of participants</div>
                <div class="trophy-hover-content">
                    <p>Highlighting their success in mobilizing a large group of individuals.</p>
                </div>
            </div>
        </div>
        <!-- Social Media Stars -->
        <div class="trophy-card">
            <div class="trophy-content">
                <p class="trophy-logo">Social Media ROCKStars</p>
                <div class="trophy-description">Awarding the team and participants that generates the most engagement and impact on social media platforms</div>
                <div class="trophy-hover-content">
                    <p>Demonstrating their prowess in leveraging digital channels to raise awareness and funds.</p>
                </div>
            </div>
        </div>
        <!-- Creative Fundraisers -->
        <div class="trophy-card">
            <div class="trophy-content">
                <p class="trophy-logo">Creative Fundraisers</p>
                <div class="trophy-description">Honoring the team and participants that implements the most innovative and effective fundraising strategies</div>
                <div class="trophy-hover-content">
                    <p>Showcasing their creativity and resourcefulness in driving donations.</p>
                </div>
            </div>
        </div>
        <!-- Team Spirit Award -->
        <div class="trophy-card">
            <div class="trophy-content">
                <p class="trophy-logo">Team Spirit Award</p>
                <div class="trophy-description">Recognizing the team that exhibits the most enthusiasm, unity, and support for the cause</div>
                <div class="trophy-hover-content">
                    <p>Embodying the true spirit of camaraderie and collaboration.</p>
                </div>
            </div>
        </div>
        <!-- Corporate Citizenship Award -->
        <div class="trophy-card">
            <div class="trophy-content">
                <p class="trophy-logo">Corporate Citizenship Award</p>
                <div class="trophy-description">Commending the company or team that best exemplifies corporate social responsibility</div>
                <div class="trophy-hover-content">
                    <p>Through their involvement, demonstrating a commitment to making a positive impact in the community.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- How to Join Section -->
<section id="how-to-join-section" class="centered-btn">
    <div class="containerone">
        <div class="row">
            <div class="col-md-12">
                <h2>How to Join</h2>
                <a href="{% url 'registration' %}" class="btn btn-primary">Join Us in Making a Difference</a>
            </div>
        </div>
    </div>
</section>

<!-- Call to Action for Hosting an Event Section -->
<section id="cta-host-event-section" class="centered-btn">
    <div class="containerone">
        <div class="row">
            <div class="col-md-12">
                <h2>Host an Event in Your City</h2>
                <a href="{% url 'eventinyourcity' %}" class="btn btn-primary">Host an Event in Your City</a>
            </div>
        </div>
    </div>
</section>

<!-- Additional Information Section -->
<section id="additional-info-section" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>More Ways to Get Involved and Support</h2>
                <!-- Add additional information here -->
                <div class="buttons">
                    <a href="{% url 'registration' %}" class="btn btn-primary">Volunteer</a>
                    <a target="_blank" data-url="https://square.link/u/5g6XQwWE?src=embd"
                    href="https://square.link/u/5g6XQwWE?src=embed" class="btn btn-success">Donate</a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- FOOTER -->
{% include 'footer.html' %}

</body>

{% endblock %}
