{% extends 'base.html' %}
{% block content %}
{% load static %}
{% include 'navbar.html' %}

<style>
/* Styling the welcome section */
#welcome-section {
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.507), rgba(var(--c-brand-rgb), 0.438)), url('static/images/johsntownbackg.png');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    min-height: 100vh; /* Adjust the height as needed */
    padding: 0 20px; /* Add padding to prevent content from sticking to the edges */
}

/* Styling for the text content */
#welcome-section .container {
    position: relative; /* Ensure content stays above the background */
    display: flex;
    flex-direction: column; /* Stack columns vertically */
    justify-content: center; /* Vertically center the content */
    max-width: 70%; /* Limit container width to 70% of its parent */
    margin-left: 50px; /* Push content to the left */
}

/* Adjusting the text alignment */
#welcome-section .col-md-6 {
    text-align: right; /* Align text to the left */
}

/* Other styles for headings and paragraphs if needed */
#welcome-section h2 {
    font-size: 32px;
    font-weight: bold;
    color: whitesmoke; /* Dark text color */
    margin-bottom: 20px;
    text-align: left; /* Align heading text to the left */
    max-width: 100%;
}

#welcome-section p {
    font-size: 18px;
    line-height: 1.6;
    color: whitesmoke; /* Slightly darker text color */
    margin-bottom: 15px;
    text-align: left; /* Align paragraph text to the left */
    max-width: 100%;
}

@media (max-width: 768px) {
    #welcome-section .col-md-6 {
        text-align: center; /* Align text to the center on smaller screens */
    }
}

#tribute-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #80149b;
  }

  #tribute-container .left-column {
    flex: 1;
    padding-right: 40px;
  }

  #tribute-container .right-column {
    flex: 1;
    padding-left: 20px;
  }

  #tribute-header {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(244, 237, 237);
  }

  #tribute-subheader {
    font-size: 18px;
    margin-bottom: 20px;
    color: rgb(252, 251, 251);
  }

  #register-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #73079e;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }

  #register-button:hover {
    background-color: #9548b3ee;
  }

  #tribute-video {
    width: 100%;
    height: auto;
  }

    /* Media queries for mobile responsiveness */
    @media only screen and (max-width: 768px) {
    #tribute-container {
      flex-direction: column;
    }

    #tribute-container .left-column,
    #tribute-container .right-column {
      flex: 1;
      padding: 0;
    }

    #tribute-container .left-column {
      margin-bottom: 20px;
    }
  }



.container-box {
  flex: 1;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#additional-info-section h1 {
      text-align: center;
      color: white; /* Make font color white */
    }

.card_boxxx,
.card_boxxxx {
  width: 400px;
  height: 450px;
  border-radius: 20px;
  background: linear-gradient(170deg, rgba(58, 56, 56, 0.623) 0%, rgb(31, 31, 31) 100%);
  position: relative;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.55);
  cursor: pointer;
  transition: all 0.3s;
  margin: 0 10px;
}

.card_boxxx:hover,
.card_boxxxx:hover {
  transform: scale(0.9);
}

.card_boxxx span,
.card_boxxxx span {
  position: absolute;
  overflow: hidden;
  width: 150px;
  height: 150px;
  top: -10px;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_boxxx span::before,
.card_boxxxx span::before {
  content: attr(data-title);
  position: absolute;
  width: 150%;
  height: 40px;
  background-image: linear-gradient(45deg, #ff6547 0%, #ffb144 51%, #ff7053 100%);
  transform: rotate(-45deg) translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
}

.card_boxxx span::after,
.card_boxxxx span::after {
  content: '';
  position: absolute;
  width: 10px;
  bottom: 0;
  left: 0;
  height: 10px;
  z-index: -1;
  box-shadow: 140px -140px #cc3f47;
  background-image: linear-gradient(45deg, #ff512f 0%, #f09819 51%, #ff512f 100%);
}

.sponsorship-box {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.sponsorship-box h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 15px;
}

.sponsorship-box ul {
  padding: 0;
}

.sponsorship-box li {
  margin-bottom: 10px;
}

.bronze {
  background-color: #f4d7a3; /* Bronze */
}

.silver {
  background-color: #d0d0d0; /* Silver */
}

.gold {
  background-color: #ffd700; /* Gold */
}

.platinum {
  background-color: #eaeaea; /* Platinum */
}

.titanium {
  background-color: #8c8c8c; /* Titanium */
}

.sponsorship-box:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}


.video-container {
            max-width: 600px; /* Adjust the maximum width as needed */
            margin: 0 auto; /* Center the container horizontally */
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .video-container video {
            width: 100%;
            height: auto;
        }


        .agenda-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.agenda-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #000; /* Set text color to black */
}

.agenda-card {
  max-width: 600px;
  margin: 20px auto;
  background: linear-gradient(to bottom, #ffffff, #f0f0f0);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.agenda-header {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.agenda-header h2 {
  font-size: 24px;
  margin-bottom: 5px;
  color: #333;
}

.agenda-header p {
  margin-bottom: 5px;
  color: #666;
}

.agenda-body {
  padding: 20px;
}

.agenda-body ul {
  list-style-type: none;
  padding: 0;
}

.agenda-body ul li {
  margin-bottom: 10px;
  color: #444;
}

.agenda-body ul li strong {
  font-weight: bold;
}

.agenda-footer {
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
}

.agenda-footer p {
  margin: 0;
  color: #666;
}




</style>

<body class="body-johnstown2024">
<div class="rectangle-barrr">
    <p>Johnstown 2024</p>
</div>

<section id="welcome-section" class="min-vh-100 d-flex align-items-center text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Welcome to the inaugural event</h2>
                <h2 style="font-family: 'Inconsolata', monospace;">0K: The Finish Line Moves in Johnstown this 2024</h2>
                <p>Join us in the fight against suicide! Together, we're beacons of hope, shining brightly in our shared journey towards prevention. You're not alone in this struggle; together, we can be Life-Savers, extending our hands to those in need and offering support in times of darkness.</p>
                <p>Let's create ripples of change together, starting with this moment. Your participation, whether as a team member, sponsor, or advocate, is vital in building a community of understanding and action. Together, we can ignite a movement that reaches far beyond this day, spreading love and healing to countless lives.</p>
            </div>
        </div>
    </div>
</section>


<!-- Event Details Section -->
<section id="event-details-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'images/map.png' %}" alt="Event Image">
            </div>
            <div class="col-md-6">
                <h2>Event Information</h2>
                <p><strong>Date and Time:</strong> May 18, 2024, from 9 AM to Noon</p>
                <p><strong>Location:</strong> North Athletic Fields by the American Legion, Wall of Honor
                    Maple and Oregon Streets
                    Johnstown, Ohio</p>
                    
                <a href="{% url 'registration' %}" class="btn btn-primary">Register Now</a>
            </div>
        </div>
    </div>
</section>



<div class="agenda-card">
  <div class="agenda-header">
    <h2>What to Expect: Johnstown Inaugural 0K</h2>
    <p>Saturday, May 18, 2024</p>
    <p>Please bring chairs/seats, if think you will need them!</p>
  </div>
  <div class="agenda-body">
    <ul>
      <li><strong>7:00am - 9:00am:</strong> Participant Booth/Table/Tent Set-up – ONLY weighted tents</li>
    <li><strong>8:00am - 10:00am:</strong> Community Pancake Breakfast, American Legion Post 254</li>
    <li><strong>8:30am:</strong> Registration Opens: ALL PARTICIPANTS MUST BE REGISTERED</li>
    <li><strong>9:00am:</strong> Opening Ceremony – Master of Ceremonies, Bob Kendrick
      <ul style="padding-left: 65px;">
        <li>Mayor’s Proclamation</li>
        <li>Ribbon/Banner (Finish Line) signing (to celebrate and honor)</li>
        <li>Matt Huff, The Bruce WOD</li>
        <li>Kacey Wetzel, Survivor Speech</li>
        <li>Ongoing activities, talks, booth, and tent visits</li>
      </ul>
    </li>
    <li><strong>10:00am:</strong> Food/Bake Fundraiser Sales Open (after the Legion Breakfast)</li>
    <li><strong>10:15am:</strong> Last Call for Banner (Finish Line) Signing</li>
    <li><strong>10:30am:</strong> 0K: The Finish Line Moves – banner moves over the crowd
      <ul style="padding-left: 65px;">
        <li>(You MUST REGISTER to participate)</li>
        <li>Please feel free to make as much noise as possible!</li>
      </ul>
    </li>
    <li><strong>11:15am:</strong> Turn in ALL fundraising monies</li>
    <li><strong>11:40am:</strong> Closing Ceremonies
      <ul style="padding-left: 65px;">
        <li>Sponsorship and Team Awards</li>
        <li>Closing Speech</li>
      </ul>
    </li>
    <li><strong>11:50pm:</strong> Walk to the Wall of Honor (electronic candle lighting)
      <ul style="padding-left: 65px;">
        <li>(sombre, respectful silence)</li>
      </ul>
    </li>
    <li><strong>12:00 noon:</strong> Tear Down</li>
  
    </ul>
  </div>
  <div class="agenda-footer">
    <p>THANK YOU, JOHNSTOWN!!!</p>
  </div>
</div>


<div class="row justify-content-center align-items-center" style="background-color: #13293d; padding-bottom: 5px; padding: 5px;" >
  <div style="text-align: center;">
  <h4 style="font-weight: bold; color: white; padding-bottom: 5px;"> Each host city gets to decide how to divide the funds raised by it's specific event fundraiser.</h5>
  <p style="font-size: 18px; margin-bottom: 20px; color: white;">The funds are divided as follows: 50% locally, 25% state-wide, 25% nationally. Want to host an event in your city? Click <a href="{% url 'eventinyourcity' %}">here</a>!</p>
  <h5 style="font-weight: bold; color: white; padding-bottom: 5px;">This year's Johnstown Event's inaugural recipient is The Bruce WOD</h5>
</div>
    <div class="col-lg-6 mb-4" data-aos="fade-down" data-aos-delay="5">
        <div class="left-column" data-aos="fade-left" data-aos-delay="5">
            <div class="video-container">
              <video controls>
                  
                  <source src="{% static 'images/BRUCE WOD.mp4' %}" type="video/mp4">
                  Your browser does not support the video tag.
              </video>
            </div>
          </div>
    </div>
    <div class="col-lg-5 px-lg-3" data-aos="fade-down" data-aos-delay="150">
       
        <h2 style="font-weight: bold; color: white; padding-bottom: 5px;">The Bruce WOD | A workout to generate funds to help veterans find healing.</h2>
        <p style="font-size: 18px; margin-bottom: 20px; color: white;">We believe healing can be found in exercise both mentally and physically. This workout is a tool to generate funds to help veterans. Please help support this cause and if you are a veteran in need of a healthy outlet contact us today.</p>
        <a href="https://thebrucewod.com/" class="btn btn-primary" style="padding-bottom: 5px;">Learn More</a>
    </div>
</div>



<section id="registration-sponsorship-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Register as a Participant or Become a Sponsor</h2>
                <h1>Individual Participant: FREE Community Event!</h1>
                <a href="{% url 'registration' %}" class="btn btn-primary">Register Now</a>

                <h3>Sponsors (Bronze, Silver, Gold, Platinum, Titanium)</h3>
                
        </div>

        <div class="sponsorship-box bronze">
          <h2>Bronze Community Supporter</h2>
          <h1 class="price">$250</h1>
          <ul>
            <li>Name or logo prominently featured on event website for 2 months</li>
            <li>Exclusive Bronze sponsorship certificate</li>
          </ul>
        </div>
        
        <div class="sponsorship-box silver">
          <h2>Silver Hope Advocate</h2>
          <h1 class="price">$500</h1>
          <ul>
            <li>Name or logo prominently featured on event website for 3 months</li>  
            <li>Exclusive Silver sponsorship certificate</li>
          </ul>
        </div>
        
        <div class="sponsorship-box gold">
          <h2>Gold Lifesaver Leader</h2>
          <h1 class="price">$750</h1>
          <ul>
            <li>All Silver benefits plus premier visibility across all event materials</li>
            <li>Exclusive Gold sponsorship certificate</li>
            <li>Feature in press releases</li>
            <li>Backlink to drive traffic to your website; stays for 6 months after event</li>
          </ul>
        </div>
        
        <div class="sponsorship-box platinum">
          <h2>Platinum Empathy Champion</h2>
          <h1 class="price">$1,000</h1>
          <ul>
            <li>Name or logo prominently featured on event website</li>
            <li>Exclusive Platinum sponsorship certificate</li>
            <li>Your very own article featured on our website</li>
            <li>Backlink to drive traffic to your website; stays for 12 months after event</li>
          </ul>
        </div>
        
        <div class="sponsorship-box titanium">
          <h2>Titanium Community Ambassador</h2>
          <h1 class="price">$1,500</h1>
          <ul>
            <li style="color: white;">✨All Platinum benefits✨</li>
            <li style="color: white;">Exclusive Titanium sponsorship certificate</li>
            <li style="color: white;">Your pictures will be featured on our website as a key supporter of suicide prevention</li>
          </ul>
        </div>
        
        </div>
    </div>
</section>

<!-- How to Join Section -->

<div id="tribute-container">
    <div class="left-column">
      <div id="tribute-header" data-aos="fade-right" data-aos-delay="50">How to Join</div>
      <div id="tribute-subheader" data-aos="fade-right" data-aos-delay="60">
        Join us today to make a difference! By registering, you'll become part of our mission to eradicate suicide as an option. Together, we're cultivating resilience, nurturing connections, and shaping a future where everyone feels valued and supported. 
        <br> Together We Can Be Life-Savers! Register now!
      </div>
      <a href="{% url 'registration' %}" id="register-button" data-aos="fade-righ" data-aos-delay="50">Register Now</a>
    </div>
    <div class="right-column" data-aos="fade-left" data-aos-delay="50">
        <video autoplay loop muted controls id="tribute-video">
          <source src="{% static 'images/Alecandria Ohio - 0k video.mp4' %}" type="video/mp4">
          <!-- Include additional source elements for different video formats if needed -->
          Your browser does not support the video tag.
        </video>
    </div>
      
  </div>

<!-- Call to Action for Hosting an Event Section -->
<section id="cta-host-event-section" class="centered-btn">
    <div class="containerone">
        <div class="row">
            <div class="col-md-12">
                <h2>Host an Event in Your City</h2>
                <a href="{% url 'eventinyourcity' %}" class="btn btn-primary">Host an Event in Your City</a>
            </div>
        </div>
    </div>
</section>

<!-- Additional Information Section -->
<section id="additional-info-section" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 data-aos="fade-right" data-aos-delay="50">More Ways to get Involved</h1>
                <!-- Add additional information here -->

                <div class="container-box">
                    <div class="card_boxxx">
                      <a href="{% url 'registration' %}">
                        <img src="{% static 'images/donating.jpg' %}" alt="Volunteer Image">
                        <span data-title="Volunteer"></span>
                      </a>
                    </div>
                    <div class="card_boxxxx">
                      <a target="_blank" data-url="https://square.link/u/5g6XQwWE?src=embd" href="https://square.link/u/5g6XQwWE?src=embed">
                        <img src="{% static 'images/donating.jpg' %}" alt="Donate Image">
                        <span data-title="Donate"></span>
                      </a>
                    </div>
                </div>
                  
            </div>
        </div>
    </div>
</section>


<!-- FOOTER -->
{% include 'footer.html' %}

</body>

{% endblock %}
