{% load static %}

<style>
    .nav-link.dropdown-toggle svg {
    width: 1.5rem; /* Adjust the width */
    height: 1.5rem; /* Adjust the height */
    /* Add more styles as needed */}

    /* Adjust the Bootstrap dropdown arrow icon */
    .nav-link.dropdown-toggle::after {
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    }

    /* Remove black border from dropdown toggle button */
    .dropdown-toggle {
    border: none; /* Remove any border */
    outline: none; /* Remove outline when button is focused */
    /* Add any additional styles as needed */
    background-color: white;
}

/* Navbar Brand */
.navbar-brand img {
    height: 30px; /* Increase the height */
    width: 120px; /* Let the width adjust automatically based on the height */
}

</style>

<nav class="navbar navbar-expand-lg bg-white sticky-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/logo1.png' %}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item {% if request.path == '/' %}active{% endif %}" >
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item {% if request.resolver_match.view_name == 'home' and request.resolver_match.kwargs.anchor == 'about' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'homee' %}">About</a>
                </li>
                <li class="nav-item {% if request.resolver_match.view_name == 'engagement' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'engagement' %}">Engagement</a>
                </li>
                <li class="nav-item dropdown {% if request.resolver_match.view_name == 'fun' %}active{% endif %}">
                    <button id="dropdownNavbarLink" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Resources
                    </button>
                    <!-- Dropdown menu -->
                    <ul class="dropdown-menu" aria-labelledby="dropdownNavbarLink">
                        <li>
                            <a href="{% url 'fun' %}" class="dropdown-item">"FUN" in Fundraising</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown {% if request.resolver_match.view_name == 'fun' %}active{% endif %}">
                    <button id="dropdownNavbarLink" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Events
                    </button>
                    <!-- Dropdown menu -->
                    <ul class="dropdown-menu" aria-labelledby="dropdownNavbarLink">
                        <li>
                            <a href="{% url 'johnstown_2024' %}" class="dropdown-item">Jonhstown 2024</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown {% if request.resolver_match.view_name == 'home,login' %}active{% endif %}">
                    <button id="dropdownNavbarLink" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Join Us
                    </button>
                    <!-- Dropdown menu -->
                    <ul class="dropdown-menu" aria-labelledby="dropdownNavbarLink">
                        <li>
                            <a class="nav-link" href="{% url 'home' %}#services">Join Us</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item {% if request.resolver_match.view_name == 'web_contact_form_template' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'Web_Contact_Form_Template' %}">Contact</a>
                </li>
                <li class="nav-item {% if request.resolver_match.view_name == 'home' and request.resolver_match.kwargs.anchor == 'blog' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'home' %}#blog">Blog</a>
                </li>
            </ul>
            <a target="_blank" data-url="https://square.link/u/5g6XQwWE?src=embd"
               href="https://square.link/u/5g6XQwWE?src=embed" class="btn btn-info ms-lg-3">Donation</a>
            {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}" class="btn btn-danger ms-lg-3">Logout</a>
            <a href="{% url 'dashboard' %}" class="btn btn-brand ms-lg-3">Dashboard</a>
            {% else %}
            <a href="{% url 'registration' %}" class="btn btn-brand ms-lg-3">Registration</a>
            <a href="{% url 'login' %}" class="btn btn-brand ms-lg-3">Login</a>
            {% endif %}
        </div>
    </div>
</nav>
