{% extends 'base.html' %}
{% block content %}
{% load static %}
{% include 'navbar.html' %}
<style>

/* Input fields */
input[type="text"],
input[type="text"]:focus,
input[type="text"]:hover,
input[type="text"]:active {
    width: 100%;
    padding: 10px;
    border: 1px solid #7935c7;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none; /* Remove default focus outline */
}

/* Labels */
label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}

/* Adjust label color on focus */
input[type="text"]:focus + label,
input[type="text"]:hover + label,
input[type="text"]:active + label {
    color: #666;
}

/* Adjust label position when input is filled */
input[type="text"]:not(:placeholder-shown) + label {
    transform: translateY(-20px);
    font-size: 14px;
    color: #666;
    transition: all 0.3s ease;
}

.registration-page {
    background-image: url('static/images/rename.png'); /* Replace 'path/to/your/image.jpg' with the path to your background image */
    background-size: cover; /* Adjusts the size of the background image to cover the entire element */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
}

.registration-container {
    /*background-color: rgba(255, 255, 255, 0.8); /* Background color with some transparency */
    background: #ffffffb3;
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding inside the container */
    box-shadow: 0 4px 6px rgba(148, 15, 165, 0.514);
    text-align: left; /* Center the content */
    margin: 0 auto; /* Center the container horizontally */
}

.registration-container h1,h2{
    color: #000000;
    text-align: center;
}
.registration-container p,
.registration-container label,
.registration-container  {
    color: #000000; /* Change font color to black */
    text-align: left;
}

/* Style the response spans */
#response_mental_health,
#response_support_mental_health,
#response_fight_suicide,
#response_prefer_not_to_say {
    color: rgb(0, 0, 0); /* Set font color to white */
    text-align: center; /* Center-align the text */
    margin-top: 10px; /* Add margin space at the top */
    font-size: 22px; /* Set font size */
    font-family: 'Inconsolata', monospace; /* Set font family */
    font-weight: bolder;
}












</style>

<body class="registration-page">

<!-- PHOTO SECTION -->
<section id="photo-section" class="mt-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="image-container">
                    <img src="static/images/registration.png" alt="Your Photo" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6 offset-md-3">
                <div class="registration-container">


                    {% if messages %}
                    <div class="container">
                        {% for message in messages %}
                        <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %} alert-dismissible fade show"
                             role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                        {% endfor %}
                    </div>
                    {% endif %}

                    <form method="post" id="registrationForm">    <!-- Form content goes here -->
                        {% csrf_token %}

                        <!-- Question 1 -->
                        <div class="mb-4">
                            <p style="font-weight: bold; margin-bottom: 8px;">We all participate in 0K: The Finish Line
                                Moves for various motivations. What motivates you to join? (Please select all that
                                apply.)</p>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="mental_health"
                                       id="motivation_mental_health" name="motivation">
                                <label class="form-check-label" for="motivation_mental_health">
                                    I'm currently experiencing challenges with my mental well-being.
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="support_mental_health"
                                       id="motivation_support_mental_health" name="motivation">
                                <label class="form-check-label" for="motivation_support_mental_health">
                                    I know someone who is facing mental health difficulties, or I'm supporting someone
                                    through their mental health journey.
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="fight_suicide"
                                       id="motivation_fight_suicide" name="motivation">
                                <label class="form-check-label" for="motivation_fight_suicide">
                                    I want to contribute to suicide prevention efforts.
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="prefer_not_to_say"
                                       id="motivation_prefer_not_to_say" name="motivation">
                                <label class="form-check-label" for="motivation_prefer_not_to_say">
                                    Prefer not to say
                                </label>
                            </div>
                        </div>

                        <div id="response_mental_health"></div>
                        <div id="response_support_mental_health"></div>
                        <div id="response_fight_suicide"></div>


                        <div class="mb-4">
                            <p style="font-weight: bold;">How do you want to start 0K?</p>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="team_option" id="start_team"
                                       value="start_team">
                                <label class="form-check-label" for="start_team">Start a team</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="team_option" id="join_team"
                                       value="join_team">
                                <label class="form-check-label" for="join_team">Join a team</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="team_option" id="participate_solo"
                                       value="participate_solo">
                                <label class="form-check-label" for="participate_solo">Participate Solo</label>
                            </div>
                        </div>

                        <div id="start_team_question" style="display: none;">
                            <p>Are you the team captain?</p>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="team_captain_option"
                                       id="team_captain_yes" value="yes">
                                <label class="form-check-label" for="team_captain_yes">Yes</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="team_captain_option"
                                       id="team_captain_no" value="no" checked>
                                <label class="form-check-label" for="team_captain_no">No</label>
                            </div>
                        </div>

                        <!-- Single team name input field for both starting and joining a team -->
                        <div id="team_name" style="display: none;">
                            <p style="text-align: center; font-weight: bold;">
                                Please type in your Team Name
                            </p>
                            <input type="text" id="team_name_input" name="new_team_name" placeholder="Team Name">
                        </div>

                        <div id="choose_team_name" style="display: none;">
                            <p style="text-align: center; font-weight: bold;">
                                Choose your Team Name
                            </p>
                            <select name="existing_team_name" class="form-select">
                                {% for team_name in unique_team_names %}
                                <option value="{{ team_name }}">{{ team_name }}</option>
                                {% endfor %}
                            </select>
                        </div>


                        <div id="solo_response" style="display: none;">
                            <p>Thanks for joining us! You can always change your mind later if you decide you want to
                                join a team.</p>
                        </div>

                        <!-- Response message -->
                        <p id="team_name_response" style="display: none; text-align: center;">Thank you for supporting
                            our cause!</p>

                        <!-- Response message -->
                        <p id="team_name_response" style="display: none; text-align: center;">Thank you for supporting
                            our cause!</p>

                        <!-- Question about fundraising goal -->
                        <div id="fundraising_goal_question"
                             style="display: none; text-align: center; margin-bottom: 10px; margin-top: 8px;">
                            <p style="font-weight: bold;">What's your team's fundraising goal?</p>
                            <input type="number" id="fundraising_goal" name="fundraising_goal"
                                   placeholder="Enter your fundraising goal">
                        </div>


                        <!-- Your Contact Information Section -->
                        <h2 class="mb-4">Your Contact Information</h2>

                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter your name" name="name"
                                   required>
                        </div>

                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter your email"
                                   name="email" required>
                        </div>

                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" placeholder="Enter your username"
                                   name="username" required>
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Enter your password"
                                   name="password" required>
                        </div>

                        <div class="mb-3">
                            <label for="confirm_password" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="confirm_password"
                                   placeholder="Confirm Password" name="confirm_password" required>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="zip_code" class="form-label">Zip Code</label>
                                <input type="text" class="form-control" id="zip_code" placeholder="Enter your zip code"
                                       name="zip_code" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="city" class="form-label">City</label>
                                <input type="text" class="form-control" id="city" placeholder="Enter your city"
                                       name="city" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="state" class="form-label">State</label>
                                <input type="text" class="form-control" id="state" placeholder="Enter your state"
                                       name="state" required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" class="form-control" id="country" placeholder="Enter your country"
                                   name="country" required>
                        </div>
                        <div class="mb-3">
                            <label for="phone_number" class="form-label">Phone Number (Optional)</label>
                            <input type="tel" class="form-control" id="phone_number"
                                   placeholder="Enter your phone number" name="phone_number">
                        </div>


                        <div class="text-center mx-4">
                            <small>
                                By selecting Sign Up, you're agreeing to the 0K: The Finish Line Moves <a href="#"
                                                                                                          class="text-decoration-none"
                                                                                                          type="button"
                                                                                                          data-bs-toggle="modal"
                                                                                                          data-bs-target="#exampleModal"
                                                                                                          style="color: rgb(0, 89, 232);">waiver</a>.

                                You'll receive email updates from The 0K Foundation. You can unsubscribe at any time.
                                Learn more about our <a href="#" class="text-decoration-none"
                                                        style="color: rgb(0, 89, 232);">privacy policy</a> and <a
                                    href="#" class="text-decoration-none" style="color: rgb(0, 89, 232);">privacy
                                rights</a>.</small>
                        </div>

                        <div class="center-button">
                            <button type="submit" class="btn btn-primary purple-button">Sign Up</button>
                        </div>
                    </form>
                    <div class="row text-center mt-2">
                        <small>Do you have an account? <a href="{% url 'login' %}"
                                                          style="color: rgb(0, 89, 232);">Login</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Waiver Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">WAIVER</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    RELEASE OF CLAIMS AND WAIVER OF RIGHTS: PLEASE READ CAREFULLY BEFORE PROCEEDING!
                    <br>
                    <br>
                    I wish to engage in certain events and/or fundraising activities of The 0k Foundation during the
                    current calendar year, including but not limited to 0K: The Finish Line Moves (the "Activities"). I
                    acknowledge that I derive personal satisfaction and benefit from my engagement with The 0k
                    Foundation and my participation in the Activities discussed above. In consideration of my
                    participation in the Activities, I hereby freely, voluntarily, and without influence from anyone or
                    duress of any kind, for myself, my executors, administrators, heirs, next of kin, successors, and
                    assigns, consent and agree to each of the following, in favor of The 0k Foundation, its affiliated
                    divisions and entities, event site or facility owners and operators, subcontractors, organizers, and
                    sponsors, including in each case, without limitation, their directors, officers, employees,
                    volunteers, agents, successors and/or assigns (collectively "The 0k Foundation"):
                    <br>
                    <br>
                    ASSUMPTION OF THE RISK. I understand that participating Team activities may include actions that may
                    be hazardous to me , including camping, picnicking, walking, jogging, running, bicycling, swimming,
                    water plunging,
                    golfing, exercising, climbing, other recreational or team sports, and/or other physical activity
                    reasonably anticipated to be performed in connection with the Activities. I willingly engage in
                    these Activities and I knowingly assume the risk of injury, harm and loss associated with the
                    Activities, including any injury, harm and loss caused by the negligence, fault or misconduct of any
                    kind on the part of The 0k Foundation.
                    <br>
                    <br>
                    COVID-19 NOTICE. I understand that COVID-19 is extremely contagious and is spread mainly from
                    person-to-person contact. I further understand that while social distancing, face masks, and/or
                    other preventative measures can reduce the spread of COVID-19, The 0k Foundation cannot guarantee
                    that its participants, volunteers, partners, or others in attendance will not become infected with
                    COVID-19.
                    <br>
                    <br>
                    COVID-19 SAFETY CERTIFICATION. By participating in the Activities, I agree to self-monitor for signs
                    and symptoms of COVID-19 (symptoms typically include fever, cough, and shortness of breath), and
                    certify that I do not fall into any of the following categories: 1. Individuals who currently or
                    within the past fourteen (14) days have experienced any symptoms associated with COVID-19, which
                    include fever, cough, and shortness of breath among others; 2. Individuals who have traveled at any
                    point in the past fourteen (14) days either internationally or to a community in the U.S. that has
                    experienced or is experiencing sustained community spread of COVID-19; or 3. Individuals who believe
                    that they may have been exposed to a confirmed or suspected case of COVID-19 or have been diagnosed
                    with COVID-19 and are not yet cleared as non-contagious by state or local public health authorities
                    or the health care team responsible for their treatment.
                    <br>
                    <br>
                    COVID-19 ASSUMPTION OF RISK. I acknowledge and understand that participation in the Activities
                    includes possible exposure to and illness from infectious diseases, including but not limited to
                    COVID-19. While particular rules and personal discipline may reduce this risk, the risk of serious
                    illness and death does exist. I knowingly and freely assume all such risks related to illness and
                    infectious diseases, such as COVID-19, even if arising from the negligence or fault of The 0k
                    Foundation.
                    <br>
                    <br>
                    THIRD-PARTY MEDICAL SERVICES PROVIDERS. I understand that third-party health care providers (e.g.
                    hospital systems, physicians practices, or individual physicians or nurses etc.) may be present at
                    The 0k Foundation events from time to time to deliver medical services such as suicide prevention
                    services or vaccinations (such third-party health care providers, collectively, the "Third-Party
                    Providers"). I acknowledge and understand that those Third-Party Providers are NOT affiliated with
                    The 0k Foundation and are NOT providing those services on behalf of The 0k Foundation. I understand
                    and agree that The 0k Foundation is NOT a provider of medical services and is NOT in any way
                    responsible for those services including, without limitation, administration of the services or any
                    required follow-up communications. I also understand and agree that The 0k Foundation does not
                    endorse any of these Third-Party Providers nor does The 0k Foundation make any guarantee of services
                    or accept any responsibility or liability for any injuries or damages whatsoever arising out my use
                    of or inability to use these services.
                    <br>
                    <br>
                    RELEASE AND WAIVER. I HEREBY RELEASE, WAIVE AND FOREVER DISCHARGE ANY AND ALL LIABILITY, CLAIMS, AND
                    DEMANDS OF WHATEVER KIND OR NATURE AGAINST THE 0K FOUNDATION (AS DEFINED ABOVE), EITHER IN LAW OR IN
                    EQUITY, TO THE FULLEST EXTENT PERMISSIBLE BY LAW, INCLUDING BUT NOT LIMITED TO THE NEGLIGENCE, FAULT
                    OR MISCONDUCT OF ANY KIND ON THE PART OF THE 0K FOUNDATION FOR DAMAGES OR CAUSES OF ACTION,
                    INCLUDING BUT NOT LIMITED TO DEATH, BODILY OR PERSONAL INJURY, ILLNESS, ECONOMIC LOSS OR OUT OF
                    POCKET EXPENSES, OR LOSS OR DAMAGE TO PROPERTY, WHICH I, MY HEIRS, ASSIGNEES, NEXT OF KIN AND/OR
                    LEGALLY APPOINTED OR DESIGNATED REPRESENTATIVES, MAY HAVE OR WHICH MAY HEREINAFTER ACCRUE ON THEIR
                    BEHALF, WHICH ARISE OR MAY HEREAFTER ARISE FROM MY ATTENDANCE AT, PERFORMANCE OF, AND/OR
                    PARTICIPATION IN THE ACTIVITIES.
                    <br>
                    <br>
                    EFFECTIVE DURATION. I UNDERSTAND AND AGREE THAT THIS RELEASE AND WAIVER WILL APPLY TO AND GOVERN MY
                    PARTICIPATION IN ANY AND ALL THE 0K FOUNDATION ACTIVITIES AND/OR EVENTS DURING THE CURRENT CALENDER
                    YEAR. I FULLY INTEND AND AGREE FOR THIS RELEASE AND WAIVER TO BE EFFECTIVE FOR THE DURATION OF THE
                    CURRENT CALENDAR YEAR.
                    <br>
                    <br>
                    MEDICAL TREATMENT. I hereby grant permission to The 0k Foundation to render preventative or
                    first-aid assistance or seek any treatment or medical care that seems reasonably necessary,
                    including hospitalization, for my health and well-being. I do hereby release and forever discharge
                    The 0k Foundation from any claim whatsoever which arises or may hereafter arise on account of any
                    first aid, treatment, or service rendered to me in connection with the Activities with The 0k
                    Foundation. I agree that The 0k Foundation may give out any and all information, including my
                    personal health information, to any physicians, hospitals, ambulance companies, or any other health
                    care provider in the event of an emergency and/or hospitalization, as reasonably necessary for
                    purposes related to my treatment or care.
                    <br>
                    <br>
                    IMAGE RELEASE. I understand that I may be photographed or recorded at The 0k Foundation events or
                    Activities. I hereby grant and convey to The 0k Foundation all right, title, and interest in any and
                    all photographic images and video or audio recordings of me made during or in connection with the
                    Activities, including, but not limited to, any royalties, proceeds, or other benefits derived from
                    such photographs or recordings. I hereby release, discharge and agree to hold harmless The 0k
                    Foundation, its legal representatives or assigns, and all persons acting under its permission or
                    upon its authority or for whom it is acting, from any liability by virtue of any publication of my
                    likeness, including, without limitation, claims for libel or invasion of privacy.
                    <br>
                    <br>
                    WEB PAGE CONTENT. I understand that The 0k Foundation may use the information that I provide during
                    this registration to create an individualized web page for me to use for fundraising purposes
                    related to signature events such as 0K: The Finish Line Moves and The 0k Foundation Making Strides
                    on Suicide Prevention("Participant Pages"). All donations received through the Participant Page are
                    contributions for which no goods and services have been provided. Therefore, I acknowledge that my
                    Participant Pages shall not contain any language which suggests that merchandise will be provided in
                    exchange for any contribution. I understand that I am prohibited from offering merchandise sales,
                    prizes, raffles, giveaways, lotteries, contests, tournaments, lucky draws, or any games of chance on
                    my Participant Pages either as an outright token action or as an inducement to solicit donations. As
                    a participant, I understand that I may only disseminate information that is for the benefit of The
                    0k Foundation and that I am expressly prohibited from advertising for any for-profit business. My
                    Participant Pages are expected to represent The 0k Foundation in a professional manner and may not
                    include information that is inconsistent with The 0k Foundation's mission and values. Examples of
                    prohibited subjects include, but not are limited to, the sale or promotion of any goods or services,
                    an endorsement or perceived endorsement of any goods or services, support or opposition of a
                    political party or a political candidate, materials affiliated with tobacco or tobacco-related
                    products and any other products inconsistent with The 0k Foundation's mission, content of any nature
                    which may result in fraud or misrepresentation to the public, pornographic or otherwise offensive
                    sexual materials, racially or ethnically prejudicial materials, overtly religious materials or any
                    other information that may be offensive to the general public. The 0k Foundation reserves the right
                    to edit or remove any Participant Page that The 0k Foundation deems in violation of these policies
                    and standards.
                    <br>
                    <br>
                    ATTENDANCE OR PARTICIPATION BY MINOR CHILDREN. I agree that any and all representations made and
                    releases, waivers, covenants, consents and permissions that I have given above are given on behalf
                    of me and any and all of my minor children or persons over whom I have guardianship who participate
                    in or attend the Activities ("Minor"). In consideration of the Minor's participation in or
                    attendance at the Activities, I, in my capacity as Minor's parent or guardian, hereby (a) give
                    permission for the Minor to participate voluntarily in the Activities, and (b) understand that this
                    Release and Waiver forever releases, waives and discharges any and all liability, claims, and
                    demands of whatever kind or nature against The 0k Foundation, either in law or in equity, to the
                    fullest extent permissible by law, including but not limited to the negligence, fault or misconduct
                    of any kind on the part of The 0k Foundation for damages or causes of action, including but not
                    limited to death, bodily or personal injury, illness, economic loss or out of pocket expenses, or
                    loss or damage to property, which Minor, his/her heirs, assignees, next of kin and/or legally
                    appointed or designated representatives, may have or which may hereinafter accrue on their behalf,
                    which arise or may hereafter arise from Minor's attendance at, performance of, and/or participation
                    in the Activities. In my capacity as Minor's parent or guardian, I also give consent to The 0k
                    Foundation to collect information about the Minor that is needed to register him or her. I
                    understand that The 0k Foundation will not collect more information about the Minor than is
                    reasonably necessary to participate in the Activities. I also understand that in consenting to a
                    Minor's registration, I am enabling the Minor to participate in all communication aspects of the
                    event Web site, including posting content on the Minor's Participant Page that may be accessible to
                    the public.
                    <br>
                    <br>
                    COLLECTION OF INFORMATION. I understand that personal information that I am providing will be used
                    by The 0k Foundation as outlined in its privacy statement (located on www.0kfoundation.org).
                    Additionally, I understand that if I am joining a team to participate in the event, my personal
                    information (such as name, contact information and donation amount) will be accessible to the
                    corporate team sponsor and/or team captain, even if I choose not to disclose this information
                    publicly on the team site.
                    <br>
                    <br>
                    I UNDERSTAND THAT BY SIGNING THIS DOCUMENT EITHER ELECTRONICALLY OR ON PAPER, I AM CONSENTING AND
                    AGREEING TO THE WAIVER AND RELEASE OF CERTAIN LEGAL RIGHTS AS SET FORTH IN THIS RELEASE OF CLAIMS
                    AND WAIVER AGREEMENT AND THAT I AM LEGALLY BOUND BY THE TERMS HEREOF.
                </div>
            </div>
        </div>
    </div>
</section>


<script>
       // Function to handle the selection of motivation checkboxes
    function handleMotivationSelection() {
        const checkboxes = document.querySelectorAll('input[name="motivation"]');
        checkboxes.forEach(checkbox => {
            const responseId = "response_" + checkbox.value;
            const responseSpan = document.getElementById(responseId);
            if (checkbox.checked) {
                switch (checkbox.value) {
                    case 'mental_health':
                        responseSpan.innerText = "You're the heart of our 0K Foundation";
                        break;
                    case 'support_mental_health':
                        responseSpan.innerText = "Thank you for your continued support to our cause.";
                        break;
                    case 'fight_suicide':
                        responseSpan.innerText = "Thank you! You're in the right place.";
                        break;
                    case 'prefer_not_to_say':
                        responseSpan.innerText = ""; // Clear response if checkbox is unchecked
                        break;
                }
            } else {
                responseSpan.innerText = ""; // Clear response if checkbox is unchecked
            }
        });
    }

    // Add event listeners to motivation checkboxes
    document.querySelectorAll('input[name="motivation"]').forEach(checkbox => {
        checkbox.addEventListener('change', handleMotivationSelection);
    });
  // team FORM 
  <!-- Add this part at the end of your <script> section -->

// Function to handle team option selection
function handleTeamOptionSelection() {
    const startTeamQuestion = document.getElementById('start_team_question');
    const teamName = document.getElementById('team_name');
    const chooseTeamName = document.getElementById('choose_team_name');
    const soloResponse = document.getElementById('solo_response');
    const teamOption = document.querySelector('input[name="team_option"]:checked');

    // Hide all initially
    startTeamQuestion.style.display = 'none';
    teamName.style.display = 'none';
    chooseTeamName.style.display = 'none';
    soloResponse.style.display = 'none';

    if (teamOption) {
        switch (teamOption.value) {
            case 'start_team':
                startTeamQuestion.style.display = 'block';
                teamName.style.display = 'block';
                break;
            case 'join_team':
                // 'start_team_question' is not shown if 'Join a Team' is selected
                chooseTeamName.style.display = 'block';
                break;
            case 'participate_solo':
                soloResponse.style.display = 'block';
                break;
        }
    }
}

// Initialize and add event listeners for team option selection
document.addEventListener('DOMContentLoaded', handleTeamOptionSelection);
document.querySelectorAll('input[name="team_option"]').forEach(radio => {
    radio.addEventListener('change', handleTeamOptionSelection);
});



// Function to handle team captain option selection
function handleTeamCaptainSelection() {
    const teamNameLabel = document.getElementById('team_name_label');
    const teamNameInput = document.getElementById('team_name_input');
    const fundraisingGoalQuestion = document.getElementById('fundraising_goal_question');
    const teamCaptainOption = document.querySelector('input[name="team_captain_option"]:checked');

    if (teamCaptainOption) {
        if (teamCaptainOption.value === 'yes') {
            // If user is the team captain, show team name input and fundraising goal question
            teamNameLabel.style.display = 'block';
            teamNameInput.style.display = 'block';
            fundraisingGoalQuestion.style.display = 'block';
        } else if (teamCaptainOption.value === 'no') {
            // If user is not the team captain, hide team name input and fundraising goal question
            teamNameLabel.style.display = 'none';
            teamNameInput.style.display = 'none';
            fundraisingGoalQuestion.style.display = 'none';
        }
    }
}

// Add event listener to team captain option radio buttons
document.querySelectorAll('input[name="team_captain_option"]').forEach(radio => {
    radio.addEventListener('change', handleTeamCaptainSelection);
});

// Function to handle entering team name
function handleTeamNameEntered() {
    // Display response message
    const responseMessage = document.getElementById('team_name_response');
    responseMessage.textContent = 'Thank you for entering your team name!';
    responseMessage.style.display = 'block';
}

// Add event listener to team name input field for starting a team
document.getElementById('team_name_input').addEventListener('input', handleTeamNameEntered);



        function handleDonationSelection() {
            const donationOption = document.querySelector('input[name="donation"]:checked');
            if (donationOption && donationOption.value === 'other') {
                document.getElementById('other_amount_input').style.display = 'block';
            } else {
                document.getElementById('other_amount_input').style.display = 'none';
            }
        }
    
        // Add event listener to donation options
        document.querySelectorAll('input[name="donation"]').forEach(radio => {
            radio.addEventListener('change', handleDonationSelection);
        });

       
    function showDisclaimer() {
        var under18Select = document.getElementById("under_18");
        var disclaimer = document.getElementById("disclaimer");

        if (under18Select.value === "yes") {
            disclaimer.style.display = "block";
        } else {
            disclaimer.style.display = "none";
        }
    }












</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
{% include 'footer.html' %}
{% endblock %}